[Unit]
Description=gunicorn daemon for Tara
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/TaraFirst
ExecStartPre=/bin/sh -c "sleep 2 && /bin/rm -f /home/ubuntu/TaraFirst/Tara/Tara.sock"
ExecStart=/home/ubuntu/env/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/TaraFirst/Tara/Tara.sock Tara.wsgi:application
Environment="DJANGO_SETTINGS_MODULE=Tara.settings.default"
Restart=always

[Install]
WantedBy=multi-user.target
